/* Fuentes Poppins */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.addmargin {
  margin-top: 100px;
}

.App {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #B07DCA; 
}